/* ------ FONTES ------ */

@font-face {
    font-family: roblox;
    src: url(../assets/fonts/roblox.ttf);
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* ------ CORPO ------ */

body {
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

/* ------ FOOTER ------ */

footer {
    background-color: #1c1c1c;
    color: rgb(88, 88, 88);
    padding: 25px 15px 0px 15px;
    text-align: center;
    margin-top: 300px;
}

footer div {
    text-align: center;
    margin: 0px auto 0px auto;
}

footer div.upfooter {
}

footer div.downfooter {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Navegação do Footer */
footer div h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0px 0px 25px 0px;
}

footer nav ul {
    display: flex;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    gap: 45px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

footer nav ul li {
    color: rgb(88, 88, 88);
}

/* Linha Divisória */
footer hr {
    width: 400px;
    margin: 0px auto 0px auto;
    border-color: rgb(88, 88, 88);
}

/* Select de Linguagem */
.lang {
    position: relative;
    overflow: hidden;
    border: 1px rgb(88, 88, 88) solid;
    width: 250px;
    height: 45px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.lang span {
    margin: 0px;
    padding-left: 8px;
    transition: all 0.3s ease-in-out;
}

.lang::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(88, 88, 88);
  }

  .lang:hover {
    border: solid 1px rgb(122, 122, 122);
  }

  .lang:hover select {
    color: rgb(122, 122, 122);
  }

  .lang:hover span {
    color: rgb(122, 122, 122);
  }

.lang select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
    padding: 10px;
    color: rgb(88, 88, 88);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 5px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.lang select option {
    margin: 0px;
    background-color: #1c1c1c;
    border: none;
    height: 60px;
}

/* Texto do Footer */
footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-family: 700;
    font-size: 15px;
    font-weight: 500;
    width: 290px;
    text-align: left;
    margin-left: 20px;
}